# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
sec-edgar-filings/
preloaded_embeddings/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env


# OS
.DS_Store
Thumbs.db 